---
applications:
- name: simple_rails
  memory: 200M
  instances: 1 # the number of instances to start
  buildpack: 'https://github.com/cloudfoundry/ruby-buildpack.git#v1.4.1' # The buildpack to use
  # host: simple_rails_123 # TODO: adjust to desired host

  path: . # The app's filepath to upload to CF

  # A list of services to bind to the app instances
  services:
  - my_first_postgresql # TODO: adjust to a mysql instance name

  # A list of key value pairs to initialize environment variables
  # for the apps runtime environment
  env:
    STACK: cedar
    RAILS_ENV: production
