<h1>Welcome and go home</h1>
<h2>Hi, <%= current_user.username %></h2>

<%#= current_user.inspect %>


<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Library</li>
</ol>

<div class="well">
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>

</div>
<span class="glyphicon glyphicon-pencil"></span>
<%#= params.inspect %>
<%#= session.inspect %>
