
 <!--
      <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="card list-group-item" style="border: 1px solid gainsboro; ">
      <img class="card-img-top" src="http://placehold.it/242x120" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <div class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    </div>
     <div class="col-lg-4 col-md-6 col-xs-12">
     <div class="card">
      <img class="card-img-top" src="http://placehold.it/218x120" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    </div>
     <div class="card">
      <img class="card-img-top" src="http://placehold.it/218x120" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
     <div class="card">
      <img class="card-img-top" src="http://placehold.it/218x120" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  

</div> -->
<!--
  <div class="row">
            <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            
              <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            
            
              <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            
            <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            
              <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            
            
              <div class="col-6 col-lg-4">
              <img src="http://placehold.it//300x136" class="img-thumbnail" alt="Cinque Terre">
              <h4>Heading</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          
          </div>
        </div>
        
-->

<div class='row'>
  
<% 6.times do |e| %>
    <div class='col-lg-offset-0 col-lg-4 col-md-6 col-xs-10 col-xs-offset-1'>
      <div class="panel panel-default">
        <img src="//placehold.it/450X150/ededed" class="img-responsive">
        <div class="panel-body">
          <p class='lead'>Card Example</p>
          <p>20 Followers, 2 Posts</p>
          <p>
            <img src="//placehold.it/28X28/ededed">          
            <img src="//placehold.it/28X28/a0c3fd">          
            <img src="//placehold.it/28X28/25282d">          
          </p>
        </div>
      </div>
  </div>

<% end %>
</div>

<!--

  
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>
  <div class='col-lg-4 col-md-6 col-sm-12'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X200/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>


<div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">          
          <img src="//placehold.it/28X28/a0c3fd">          
          <img src="//placehold.it/28X28/25282d">          
        </p>
      </div>
    </div>
  </div>
<!--
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class='panel-title'>Card Example</h4>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class='panel-footer'>
        <a class='btn btn-default' href='#'>+1</a>
        <a class='btn btn-default' href='#'>Share</a>
      </div>
    </div>
  </div>

  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/427fed/fff" class="img-responsive">
      <img src="//placehold.it/80X80/57a744/fff" class="img-circle" style='display: block; width: 80px; margin: -40px auto 0;'>
      <div class="panel-body">
        <p class='lead text-center'>Card Example</p>
        <ul class='list-unstyled'>
          <li class='text-center'>Lorem ipsum</li>
          <li class='text-center'>Lorem ipsum</li>
          <li class='text-center'>Lorem ipsum</li>
        </ul>
        <a class='btn btn-default btn-block' href='#'>Add</a>
      </div>
    </div>
  </div>
  
  -->
  
