<style>
  footer {
  
 
}  
/*</style>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Logo</div>
        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p> -->
        <p><i class="fa fa-map-pin"></i>Campus Alt-Saarbrücken - Raum 7212 / 7213</p>
        <p><i class="fa fa-phone"></i> Telefon: 0681 / 5867 – 277 (nicht ständig besetzt)</p>
        <p><i class="fa fa-envelope"></i> E-mail : fs-i (ät) htw-saarland (dot) de</p>
        
      </div>
      
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="http://www.asta-htw.de/index.php?id=326" target="_blank">Mensa-Plan CAS</a></li>
          <li><a href="https://stl-webmail.htwsaar.de/" target="_blank">STL Webmail</a></li>
          <li><a href="https://stdservice.htwsaar.de/" target="_blank">studService</a>
          <li><a href="https://www.htwsaar.de" target="_blank">HTW Saar</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <%= render 'layouts/footer_news' %>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
          <a href="https://de-de.facebook.com/htwsaar/" target="_blank">
            <span style="font-size: 24pt"><%= fa_icon "facebook" %></span>
             htw saar
          </a>
        </div>
        <div>
          <a href="https://htwsaar-jobportal.de/" target="_blank">
            <span style="font-size: 24 pt">
              <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
               htwsaar-jobportal
            </span>
          </a>
        </div><br />
        <div>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
          <a href="http://htwsaar-blog.de/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
             htw saar
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>

<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© <%= Time.now.strftime("%Y") %> - All Rights with Fachschaft Informatik</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">About us</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>