<% news = Notification.order(created_at: :desc).limit(@notifications_footer) %>
<% i = 0 %>
<% news.each do |new| %>
  <p><%= link_to news[i].title, user_new_url(new.notificationtype_id, new.id) if new %>
    <span>
      Created:
        <%= distance_of_time_in_words_to_now(new.created_at) if new %>,
      Updated: 
        <%= time_ago_in_words(new.updated_at) if new %>
    </span>
  </p>
  <% i = i + 1 %>
<% end %>
