<% if logged_in?(:admin, :moderator, :user) and !current_user.is_a?(GuestUser) %>
  <ul class="nav navbar-nav horizont-line">
     <!-- load allways the first news category by default -->
     <li class="active"><%= link_to "News", user_news_path(Notification.first) %></li>
     <!-- load allways the first gallery by default -->
     <li><%= link_to "Galleries", user_galleries_path(Gallery.first) %></li>
     <li><%= link_to "Materials", user_faculties_path %></li>
  </ul>
<% end %>